.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/.navigation/

# IDEA/Android Studio project files, because
# the project can be imported from settings.gradle
.idea
*.iml
