<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.czbix.v2ex" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="${applicationId}.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <application
        android:name=".AppCtx"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:backupAgent=".BackupAgent"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.czbix.v2ex.network.GlideConfig"
            android:value="GlideModule" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="23e42a0e3274b272cd08b9ea553d6858e53d05a5" />
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="@string/google_backup_api_key" />

        <activity
            android:name=".ui.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Launcher" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/master_host"
                    android:pathPrefix="@string/node_url_prefix"
                    android:scheme="@string/scheme_http" />
                <data
                    android:host="@string/master_host"
                    android:pathPrefix="@string/node_url_prefix"
                    android:scheme="@string/scheme_https" />
                <data
                    android:host="@string/www_host"
                    android:pathPrefix="@string/node_url_prefix"
                    android:scheme="@string/scheme_http" />
                <data
                    android:host="@string/www_host"
                    android:pathPrefix="@string/node_url_prefix"
                    android:scheme="@string/scheme_https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name=".ui.DebugActivity"
            android:enabled="@bool/isDebuggable"
            android:label="Debug" >
        </activity>
        <activity
            android:name=".ui.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TopicActivity"
            android:parentActivityName=".ui.MainActivity" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="@string/master_host"
                    android:pathPrefix="@string/topic_url_prefix"
                    android:scheme="@string/scheme_http" />
                <data
                    android:host="@string/master_host"
                    android:pathPrefix="@string/topic_url_prefix"
                    android:scheme="@string/scheme_https" />
                <data
                    android:host="@string/www_host"
                    android:pathPrefix="@string/topic_url_prefix"
                    android:scheme="@string/scheme_http" />
                <data
                    android:host="@string/www_host"
                    android:pathPrefix="@string/topic_url_prefix"
                    android:scheme="@string/scheme_https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.LoadingActivity"
            android:label="@string/title_activity_loading"
            android:noHistory="true" >
        </activity>
        <activity
            android:parentActivityName=".ui.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:name=".ui.TopicEditActivity" >
        </activity>

        <!-- start Google Analytics -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true"
            tools:ignore="ExportedReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <!-- start Google GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="${applicationId}" />

                <!-- to support pre-4.4 KitKat devices -->
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />
            </intent-filter>
        </receiver>

        <service
            android:name=".google.gcm.GcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name=".google.gcm.IidListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name=".google.gcm.RegistrationIntentService"
            android:exported="false" >
        </service>
    </application>

</manifest>
